<swiper-container 
  loop="false" 
  navigation="true"
  autoplay="true"
  pagination="true"
  pagination-clickable="true"
  style="--swiper-navigation-color: #fff; 
  --swiper-pagination-color: #fff">

  <swiper-slide>
    <div class="slide-content">
      <img src="/imgs/carousel1.png" alt="">
      <div class="overlay-text">
        <p>Os melhores cafés da cidade</p>
      </div>
    </div>
  </swiper-slide>


  <swiper-slide>
    <div class="slide-content">
      <img src="/imgs/carousel2.png" alt="">
      <div class="overlay-text">
        <p>Ambiente aconchegante</p>
      </div>
    </div>
  </swiper-slide>


  <swiper-slide>
    <div class="slide-content">
      <img src="/imgs/carousel3.png" alt="">
      <div class="overlay-text">
        <p>Seu pet é bem vindo!</p>
      </div>
    </div>
  </swiper-slide>

    <swiper-slide>
    <div class="slide-content">
      <img src="/imgs/carousel4.png" alt="">
      <div class="overlay-text">
        <p>Anywhere Office</p>
      </div>
    </div>
  </swiper-slide>

    <swiper-slide>
    <div class="slide-content">
      <img src="/imgs/carousel5.png" alt="">
      <div class="overlay-text">
        <p class="logo">SolCafé</p>
      </div>
    </div>
  </swiper-slide>


</swiper-container>


