<mat-toolbar class="header-box">

  <a class="logo" routerLink="/">SolCafé</a>

  <span class="spacer"></span>

  <button matIconButton aria-label="Ícone de casa" routerLink="/">
    <mat-icon>home</mat-icon>
  </button>

  <button matIconButton aria-label="Ícone de café" routerLink="/menu">
    <mat-icon>coffee</mat-icon>
  </button>

  @if(isAuthenticated() && isAdmin()) {
    <button matIconButton aria-label="Ícone de configuração de conta" routerLink="/user-panel">
      <mat-icon>manage_accounts</mat-icon>
    </button>
  } @else {
    <button matIconButton [matBadge]="cartCount()" [matBadgeHidden]="hidden" aria-label="Ícone de carrinho de compras" routerLink="/checkout">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  }

  @if(!isAuthenticated()){
    <button matIconButton aria-label="Ícone de login" routerLink="/auth">
      <mat-icon>login</mat-icon>
    </button>
  } @else{
    <button matIconButton aria-label="Ícone de logout" (click)="logout()" routerLink="/">
      <mat-icon>logout</mat-icon>
    </button>  
  }

    <!-- <button matIconButton aria-label="Ícone de idiomas">
      <mat-icon>language</mat-icon>
    </button>   -->

</mat-toolbar>

<mat-toolbar class="header-title">
  <span>...{{ currentRoute() }}...</span>
</mat-toolbar>
