<div class="page-wrapper">

    <div class="box">

        <div class="img-box">
            
            <img 
                class="card-img" 
                loading="lazy"
                [src]="imageLoaded ?  coffee.imagem : 'imgs/loading.png'"
                (load)="onImageLoad()" 
                alt="Imagem do café">


            <div class="button-group">

            @if (!isAdmin()) {
                <button matIconButton aria-label="Ícone de adicionar ao carrinho" 
                (click)="clickButton('add', coffee)">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>

                <button matIconButton aria-label="Ícone de remover do carrinho"
                (click)="clickButton('remove', coffee)">
                    <mat-icon>do_not_disturb_on</mat-icon>
                </button>
            } @else {
                <button matIconButton aria-label="Ícone de editar produto" 
                (click)="clickButton('edit', coffee)">
                    <mat-icon>edit</mat-icon>
                </button>

                <button matIconButton aria-label="Ícone de remover produto"
                (click)="clickButton('rmv', coffee)">
                    <mat-icon>remove</mat-icon>
                </button>
            }

            </div>  

        </div>

        <div class="info-box">
            <ul>
                <li class="title">{{coffee.titulo}}</li>
                <li class="description">"{{coffee.descricao}}"</li>
                <li class="price">{{coffee.preco | currency:'BRL':'symbol':'1.2-2'}}</li>
            </ul>
        </div>
        
    </div>

</div>
